In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random 
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
label_encoder = preprocessing.LabelEncoder()
ss = preprocessing.StandardScaler()

In [18]:
data = pd.read_csv('50_Startups.csv')
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [19]:
a = label_encoder.fit_transform(data['State'])
data.State = a
data.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [20]:
b = ss.fit_transform(data[["R&D Spend", "Administration", "Marketing Spend"]])
data[["R&D Spend", "Administration", "Marketing Spend"]] = b
data.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0   2.016411        0.560753         2.153943      2  192261.83
1   1.955860        1.082807         1.923600      0  191792.06
2   1.754364       -0.728257         1.626528      1  191050.39
3   1.554784       -0.096365         1.422210      2  182901.99
4   1.504937       -1.079919         1.281528      1  166187.94

In [8]:
model = LinearRegression()
X = data[['R&D Spend','Administration','Marketing Spend']]
Y = data[['Profit']]
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, )
reg = model.fit(X_train, Y_train)
print(model.score(X_test, Y_test))

0.9306643532005457

In [21]:
label_encoder = preprocessing.LabelEncoder()
a = label_encoder.fit_transform(data['State'])
data.State = a
data.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0   2.016411        0.560753         2.153943      2  192261.83
1   1.955860        1.082807         1.923600      0  191792.06
2   1.754364       -0.728257         1.626528      1  191050.39
3   1.554784       -0.096365         1.422210      2  182901.99
4   1.504937       -1.079919         1.281528      1  166187.94

In [10]:
a = data["R&D Spend"]
b = data["Administration"]
c = data["Marketing Spend"]
x = np.mean(a)
y = np.mean(b)
z = np.mean(c)

In [17]:
model = LinearRegression()
X = data[['R&D Spend','Administration','Marketing Spend']]
Y = data[['Profit']]
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2)
reg = model.fit(X_train, Y_train)
print(model.score(X_test, Y_test)*100)

97.6144403906783

In [23]:
for i in range(len(a)):
    a[i] = a[i] / x
for i in range(len(b)):
    b[i] = b[i] / y
for i in range(len(c)):
    c[i] = c[i] / z

data.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0   2.016411        0.560753         2.153943      2  192261.83
1   1.955860        1.082807         1.923600      0  191792.06
2   1.754364       -0.728257         1.626528      1  191050.39
3   1.554784       -0.096365         1.422210      2  182901.99
4   1.504937       -1.079919         1.281528      1  166187.94